body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttonadddelete {
  display: block;
  width: 70%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
  text-align: center;
}

.buttonadddelete:hover {
  background-color: #0056b3;
}

body {
  width: 15rem;
  height: 20rem;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#urlList {
  margin-top: 10px;
  max-height: calc(100% - 60px);
  overflow-y: auto;
}

.urlItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 5px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.urlItem a {
  flex-grow: 1;
  margin-right: 10px;
  word-break: break-all; /* Force URLs to break and wrap to the next line */
  text-decoration: none;
  color: #007bff;
}

.urlItem:nth-child(odd) {
  background: #80808030;
}

.urlItem:nth-child(even) {
  background: #ffffff;
}

.urlItem span {
  flex-grow: 1;
  margin-right: 10px;
  word-break: break-all;
}

.urlItem button {
  flex-shrink: 0;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.urlItem button:hover {
  background-color: #ff1a1a;
}

.darkMode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  position: absolute;
  right: 0;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkMode i {
  font-size: 24px; 
}

.darkMode:hover {
  color: #007bff;
}